.App{
  max-width: 1200px;
  box-sizing: border-box;
  margin: 0 auto;
}

.App-header {
  background-color: #eeecf3;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.navbar {
  background-color: rgb(65, 14, 14);
  color: white;
  padding: 10px 155px 10px 155px;
}

.navbar a {
  color: white;
  padding: 10px;
}

button {
  color: black;
  background-color: rgb(237, 248, 248);
  border: 1px solid gray;
  padding: 3px;
  border-radius: 4px;
}